*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* styles from menu*/

.menu{
    background-color: aqua;
    color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: end;
}

ul{
    background-color: aqua;
    list-style: none;
    margin: 5px;
    display: flex;
}

li > .click{
    display: flex;
    text-decoration: none;
    padding: 10px;
}

.click{
    background-color: aqua;
    color: blueviolet;
    align-items: center;
}

.click:hover{
    transition: 3s;
    color: azure;
}

/*styles from banner*/

h1{
    text-align: start;
    padding: 30px;
}

.title > h1:hover{
    
    transition: 3s;
    transform: translateX(2em);
}