*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* styles from menu*/

.menu{
    background-color: #0d0c1d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: end;
}

ul{
    background-color: #0d0c1d;
    list-style: none;
    margin: 2px;
    display: flex;
}

li > .click{
    display: flex;
    text-decoration: none;
    padding: 5px;
}

.click{
    background-color: #0d0c1d;
    color: #b40000;
    align-items: center;
}

.click:hover{
    transition: 3s;
    color: #002fff;
}

/*styles from banner*/

.banner h1{
    background-image: url(../img/ba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;

    text-align: center;
    position:relative;
    color: #b40000;
    margin-top: -5px;
    font-size: 3rem;
}

.banner h1:hover{
    transition: 3s;
    color: #002fff;
    box-shadow: 5px 10px 7px rgb(0,0,0,0.5);
}

/* styles from page*/